{% extends 'base.html.twig' %}

{% block title %}Historique de commandes{{ parent() }}{% endblock %}

{% block body %}<section class="py-2 bg-light">
    <div class="container">
        <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
            <div class="col-12">
                <h4 class="h4 text-uppercase mb-0 text-center section-title">Historique de commandes</h4>
            </div>
        </div>
    </div>
</section>
    <section>
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 my-auto mx-auto">
                    <table class="table table-striped mb-0">
                        <thead>
                        <tr>
                            <th class="text-center">N° Commande</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Producteur</th>
                            <th class="text-center">Nombre de produits</th>
                            <th class="text-center">Total TTC</th>
                            <th class="text-center">Statut</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr>
                                <td class="text-center">
                                    <a href="{{ path('order_show', { orderReference: order.orderReference }) }}">
                                        {{ order.orderReference }}
                                    </a>
                                </td>
                                <td class="text-center">{{ order.createdAt|date('d/m/Y') }}</td>
                                <td class="text-center">{{ order.farm.name }}</td>
                                <td class="text-center">{{ order.numberOfProducts }}</td>
                                <td class="text-center">{{ order.totalIncludingTaxes|format_currency('EUR') }}</td>
                                <td class="text-center">
                                    {% if order.state == 'created' %}
                                        <span class="badge badge-light">En attente</span>
                                    {% elseif order.state == 'accepted' %}
                                        <span class="badge badge-warning">Acceptée</span>
                                    {% elseif order.state == 'processing' %}
                                        <span class="badge badge-secondary">En cours de préparation</span>
                                    {% elseif order.state == 'ready' %}
                                        <span class="badge badge-info">Prête</span>
                                    {% elseif order.state == 'issued' %}
                                        <span class="badge badge-success">Délivrée</span>
                                    {% elseif order.state == 'canceled' %}
                                        <span class="badge badge-dark">Annulée</span>
                                    {% elseif order.state == 'refused' %}
                                        <span class="badge badge-danger">Refusée</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if is_granted('cancel', order) and workflow_can(order, 'cancel') %}
                                        <a href="{{ path('order_cancel', {id: order.id}) }}"
                                           class="btn btn-outline-warning btn-sm">Annuler</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col align-items-center">
                    {{ knp_pagination_render(orders) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
