{% extends 'base.html.twig' %}

{% block title %}Détail de la commande {{ order.orderReference }}{{ parent() }}{% endblock %}

{% block body %}
    <section class="py-2 bg-light">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-12">
                    <h4 class="h4 text-uppercase mb-0 text-center section-title">
                        Détail de la commande {{ order.orderReference }}
                    </h4>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 my-auto mx-auto">
                    <table class="mt-4 table table-striped mb-0 table-sm">
                        <thead>
                        <tr class="table-secondary">
                            <th class="text-center"></th>
                            <th class="text-center">Nom</th>
                            <th class="text-center">P.U. HT</th>
                            <th class="text-center">% TVA</th>
                            <th class="text-center">Quantité</th>
                            <th class="text-center">Total TTC</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in order.lines %}
                            <tr>
                                <td class="text-center align-middle">
                                    <img src="{{ asset(item.product.image.path) }}"
                                         alt="{{ item.product.name }}"
                                         style="max-height: 40px; max-width: 40px">
                                </td>
                                <td class="text-center align-middle">{{ item.product.name }}</td>
                                <td class="text-center align-middle">{{ (item.product.price.unitPrice / 100)|format_currency('EUR') }}</td>
                                <td class="text-center align-middle">{{ (item.product.price.vat) }}%</td>
                                <td class="text-center align-middle">{{ item.quantity }}</td>
                                <td class="text-center align-middle">{{ item.total|format_currency('EUR') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td class="text-right align-middle" colspan="5">Total HT</td>
                            <td class="text-center align-middle">{{ order.totalWithoutTaxes|format_currency('EUR') }}</td>
                        </tr>
                        <tr>
                            <td class="text-right align-middle" colspan="5">Total TVA</td>
                            <td class="text-center align-middle">{{ order.totalTaxes|format_currency('EUR') }}</td>
                        </tr>
                        <tr>
                            <td class="text-right font-weight-bold align-middle" colspan="5">Total TTC</td>
                            <td class="text-center font-weight-bold align-middle">{{ order.totalIncludingTaxes|format_currency('EUR') }}</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row align-items-center">
                <a href="javascript: window.history.back()" class="btn btn-sm btn-outline-info float-right">Retour</a>
            </div>
        </div>
    </section>
{% endblock %}
