{% extends 'base.html.twig' %}

{% block title %}Mes produits {{ parent() }}{% endblock %}

{% block body %}
    <section class="py-2 bg-light">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-12">
                    <h4 class="h4 text-uppercase mb-0 text-center section-title">Mes Produits</h4>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 my-auto mx-auto">
                    <a href="{{ path('product_create') }}" class="btn btn-sm btn-outline-primary float-right mb-4">
                        <i class="fas fa-plus mr-2"></i>Créer un nouveau produit
                    </a>
                    <table class="table table-striped mb-0">
                        <thead>
                        <tr>
                            <th class="text-center"></th>
                            <th class="text-center">Nom du produit</th>
                            <th class="text-center">Prix unitaire HT</th>
                            <th class="text-center">TVA</th>
                            <th class="text-center">Stock</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td class="text-center align-middle">
                                    {% if product.image.path is not null %}
                                        <a href="{{ asset(product.image.path) }}" target="_blank">
                                            <img src="{{ asset(product.image.path) }}" alt="" style="max-width: 40px;">
                                        </a>
                                    {% endif %}
                                </td>
                                <th scope="col" class="text-center align-middle">{{ product.name }}</th>
                                <td class="text-center align-middle">{{ (product.price.unitPrice / 100)|format_currency('EUR') }}</td>
                                <td class="text-center align-middle">{{ (product.price.vat) }}%</td>
                                <td class="text-center align-middle">{{ (product.quantity) }}</td>
                                <td class="text-center align-middle">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            <i class="fas fa-cogs"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a href="{{ path('product_stock', {id: product.id}) }}"
                                               class="dropdown-item">
                                                Modifier Stock
                                            </a>
                                            <a href="{{ path('product_update', {id: product.id}) }}"
                                               class="dropdown-item">
                                                Modifier Fiche
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col align-items-center">
                    {{ knp_pagination_render(products) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
