{% extends 'base.html.twig' %}

{% block title %}Modification du produit {{ form.vars.data.name }}{{ parent() }}{% endblock %}

{% block body %}
    <section class="py-2 bg-light">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-12">
                    <h4 class="h4 text-uppercase mb-0 text-center section-title">
                        Modification du produit {{ form.vars.data.name }}
                    </h4>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row mb-5">
                <div class="col-6 my-auto mx-auto">
                    {{ form_start(form) }}
                    {% if form.vars.data.image.path is not null %}
                        Image actuelle
                        <a href="{{ asset(form.vars.data.image.path) }}" target="_blank">
                            <img src="{{ asset(form.vars.data.image.path) }}" alt="" style="max-width: 30px;">
                        </a>
                        <a type="button" class="btn btn-outline-danger btn-remove-file btn-sm float-right"
                           data-target="#farm_image_path">
                            Supprimer l'image
                        </a>
                    {% endif %}
                    {{ form_rest(form) }}
                    <div class="text-center">
                        <button class="btn btn-sm btn-primary" type="submit">
                            Enregistrer
                        </button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
