{% extends 'base.html.twig' %}
{% block title %}Acceuil{{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}
    <div class="container">
        <section class="hero pb-3 bg-cover bg-center d-flex align-items-center">
            <div class="container py-5">
                <div class="row px-4 px-lg-5">
                    <div class="col-lg-12 text-center">
                        <h4 class="mt-4 mb-2 text-white" style="font-family: 'Langar', sans-serif; font-size: 1.8rem">
                            Mes produits frais en vente directe chez le producteur à coté de chez moi
                        </h4>
                    </div>
                </div>
            </div>
        </section>
        <section class="mt-4 mb-4">
            <div class="row">
                <div class="col-12">
                    {% if not app.user and not app.user.roles in ['customer']|keys %}
                        <h4>Les producteurs près de chez moi</h4>
                        <small class="text-muted">
                            Choisissez un producteur sur la carte pour voir les produits qu'il propose
                        </small>
                        <div id="map" class="vh-100"></div>
                    {% else %}
                        <h4>Commandes en attente de validation</h4>
                        <table class="table table-striped mb-0">
                            <thead>
                            <tr>
                                <th class="text-center">Date</th>
                                <th class="text-center">Numéro de commande</th>
                                <th class="text-center">Nombre de produits</th>
                                <th class="text-center">Total TTC</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td class="text-center">{{ order.createdAt|date('d/m/Y') }}</td>
                                    <td class="text-center">
                                        <a href="{{ path('order_show', {orderReference: order.orderReference}) }}">
                                            {{ order.orderReference }}
                                        </a>
                                    </td>
                                    <td class="text-center">{{ order.numberOfProducts }}</td>
                                    <td class="text-center">{{ order.totalIncludingTaxes|format_currency('EUR') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('index') }}
{% endblock %}
