{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{{ parent() }}{% endblock %}

{% block body %}
    <section class="py-2 bg-light">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-12">
                    <h3 class="h3 text-uppercase mb-0 text-center section-title">Réinitialisation du mot de passe</h3>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row mb-5">
                <div class="col-6 my-auto mx-auto">
                    {{ form_start(form) }}
                    {{ form_rest(form) }}
                    <div class="col-12 d-inline">
                        <button class="btn btn-sm btn-primary float-left" type="submit">
                            Valider
                        </button>
                        <a href="{{ path('security_login') }}" class="btn btn-sm btn-outline-dark float-right">
                            <i class="fas fa-sign-in-alt mr-2"></i>Se connecter
                        </a>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
